<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GymManagementSystem.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<connectionStrings>
		<add
    name="GymManagementSystem"
    connectionString="Data Source=DESKTOP-RRDDSTN;Initial Catalog=GymManagementSystem;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Application Name=GymManagementSystem"
    providerName="System.Data.SqlClient" />
	</connectionStrings>
	
 <userSettings>
  <GymManagementSystem.UI.Properties.Settings>
   <setting name="RememberedUserName" serializeAs="String">
    <value />
   </setting>
  </GymManagementSystem.UI.Properties.Settings>
 </userSettings>
</configuration>